:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #1d1d1d;
}

#containerPrincipal{
	background-color: #1d1d1d;
	color: #ffffff;

}

.day{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    padding: 50px 0px 20px 0px;
    margin-bottom: 0px;
}

.clock{
	font-family: 'Anton', sans-serif;
    font-size: 250px;
    padding: 50px 0px 50px 0px;
}

.year1{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px 0px 50px 0px;
    margin-bottom: 0px;
}

#footer{
    background-color: #1d1d1d;
    padding: 30px;
    margin-top: 100px;
}

#footer a{
    text-decoration: none;
    color: #b7b7b7;
    padding: 10px;
    border: 2px solid #b7b7b7;
    border-radius: 40px;
    font-size: 15px;
}

#footer a:hover{
    color: white;
    border-radius: 3px solid white;
}

.bi-github {
    color: #b7b7b7;
    font-size: 26px;
    transition: transform 0.3s ease-in-out;
}

.bi-github:hover {
    transform: rotate(360deg) scale(1.2);
}